div#container {
    display: grid;
    width: 100%;
    height: 100%;
}
div#container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div#container main h1 {
    font-size: 6em;
    color: #ffffff;
    font-weight: 116;
}
div#container main p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.7em;
    color: #ffffff;
}

div#container footer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
