/*reset css*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html,
body,
div#root {
    height: 100%;
    width: 100%;
    display: flex;
}
/*estilizações do fundo da pagina*/
body {
    -webkit-font-smoothing: antialiased !important; /*Deixa as fontes mais bem detalhadas*/
    background-image: url("assets/img/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
